
@{
    ViewBag.Title = "adminDashboard";
    Layout = "~/Views/Shared/_admin.cshtml";
}

<head>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

</head>
<br><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<style>
    .mess-container {
        margin-top: 1%;
        margin-bottom: 25%;
    }

    .message h1{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #71C55D;
        font-weight: bold;
        font-size: 98px;
        text-align: center;
    }

    .message h2 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #71C55D;
        text-align: center;
    }

    .icon {
        border: 1px black solid;
    }

    .icon-container {
        border: 1px black solid;
    }
</style>

<div class="mess-container">
    <div class="message">
        <h1>Hello There !</h1>
        <h1>This is an Admin Dashboard</h1>
    </div>
</div>


