
@{
    ViewBag.Title = "login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>eStartup Bootstrap Template - Index</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="../../Content/assets/img/favicon.png" rel="icon">
    <link href="../../Content/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../../Content/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="../../Content/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../Content/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../../Content/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../../Content/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../../Content/assets/css/style.css" rel="stylesheet">
    <link href="../../Content/assets/css/loginsignup.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: eStartup
    * Updated: Sep 18 2023 with Bootstrap v5.3.2
    * Template URL: https://bootstrapmade.com/estartup-bootstrap-landing-page-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
</head>

<body>
    <div class="container infinity-container">
        <div class="row">
            <div class="col-md-1 infinity-left-space"></div>

            <!-- FORM BEGIN -->
            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 text-center infinity-form">
                <!-- Company Logo -->
                <div class="text-center mb-3 mt-5">
                    <img src="" width="150px">
                </div>
                <div class="text-center mb-4">
                    <h4>Login</h4>
                </div>
                <!-- Form -->
                <form class="px-3" action="ReadData" method="post">
                    <!-- Input Box -->

                    <div class="form-input">
                        <span><i class="fa fa-envelope"></i></span>
                        <input type="email" name="email" placeholder="Email Address" tabindex="10" required>
                    </div>

                    <div class="form-input">
                        <span><i class="fa fa-lock"></i></span>
                        <input type="password" name="password" placeholder="Password" required>
                    </div>

                    <div class="row mb-3">
                        <!-- Remember Box -->
                        <div class="col-auto d-flex align-items-center">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="cb1">
                                <label class="custom-control-label" for="cb1">Remember me</label>
                            </div>
                        </div>
                    </div>
                    <!-- Login Button -->
                    <div class="mb-3">
                        <button type="submit" class="btn btn-block">Login</button>
                    </div>
                    <div class="text-right ">
                        <a href="reset.html" class="forget-link">Forgot password?</a>
                    </div>
                    <div class="text-center mb-2">
                        <div class="text-center mb-3" style="color: #777;">or login with</div>

                        <!-- Facebook Button -->
                        <a href="" class="btn btn-social btn-facebook"><i class="fa fa-facebook"></i></a>

                        <!-- Google Button -->
                        <a href="" class="btn btn-social btn-google"><i class="fa fa-google"></i></a>

                        <!-- Twitter Button -->
                        <a href="" class="btn btn-social btn-twitter"><i class="fa fa-twitter"></i></a>
                    </div>
                    <div class="text-center mb-5" style="color: #777;">
                        Don't have an account?
                        @Html.ActionLink("Register Here", "GetStarted", "Home", new { @class = "register-link" })

                    </div>
                </form>
            </div>
            <!-- FORM END -->

            <div class="col-md-1 infinity-right-space"></div>
        </div>
    </div>


    <!-- Vendor JS Files -->
    <script src="../../Content/assets/vendor/aos/aos.js"></script>
    <script src="../../Content/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../../Content/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="../../Content/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="../../Content/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="../../Content/assets/js/main.js"></script>

</body>

</html>


